@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-text-primary: 147, 39, 143;
    --color-text-secondary: 212, 87, 39;
    --color-text-plane: 212, 87, 39;
    --color-text-grey: 56, 88, 99;
    --color-bg-grey: 246, 246, 246;
    --color-fill: 224, 61, 219;
    --color-button-accent: 147, 39, 143;
    --color-button-accent-hover: 141, 71, 148;
    --color-button-secondary: 212, 87, 39;
  }
  .theme-swiss {
    --color-text-primary: 147, 39, 143;
    --color-text-secondary: 212, 87, 39;
    --color-text-plane: 212, 87, 39;
    --color-text-grey: 56, 88, 99;
    --color-fill: 224, 61, 219;
    --color-button-accent: 147, 39, 143;
    --color-button-accent-hover: 141, 71, 148;
    --color-button-secondary: 212, 87, 39;
  }
  .theme-neon {
    --color-text-primary: 147, 39, 143;
    --color-text-secondary: 212, 87, 39;
    --color-text-plane: 212, 87, 39;
    --color-text-grey: 56, 88, 99;
    --color-fill: 224, 61, 219;
    --color-button-accent: 147, 39, 143;
    --color-button-accent-hover: 141, 71, 148;
    --color-button-secondary: 212, 87, 39;
  }
}
@layer utilities {
  .bggrad {
    @apply bg-gradient-to-r from-primary-base/20 to-primary-secondary/60;
  }
  .tab_gad_company {
    @apply bg-gradient-to-br from-primary-base/80 to-primary-secondary/20;
  }
}
